.ed-course-view-sm-box {
    background: var(--ed-color-white);
    display: flex;
    width: fit-content;
    align-items: center;
    grid-gap: 11px;
    padding: 17px 20px;

    @media #{$xs} {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    & .ed-title {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    & p {
        font-size: 14px;
        margin-bottom: 0;
    }
}

// horizontal course.
.ed-course-card-horizontal  {
    display: flex;
    padding: 16px;
    align-items: center;
    filter: drop-shadow(0px 2px 10px rgba(5, 12, 31, 0.10)) drop-shadow(0px 4px 3px rgba(5, 12, 31, 0.12));

    @media #{$sm} {
        flex-wrap: wrap;
    }

    & > .ed-content {
        padding: 0 30px;
        padding-right: 25px;

        @media #{$sm} {
            padding: 0;
            padding-top: 25px;
        }

    }

    .ed-title {
        margin-bottom: 12px;
    }

    .ed-meta-horizontal {
        margin-bottom: 15px;
    }

    .ed-image {
        max-width: 240px;
        @media #{$xs} {
            flex-grow: 1;
            max-width: 100%;
        }
        

        img{
            max-width: 220px;

            @media #{$xs} {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .ed-title a {
        text-decoration: none;
        color: inherit;
        font-size: 20px;
        margin-bottom: 0px;
        &:hover {
            color: var(--ed-color-primary);
        }
    }

    & p {
        margin-bottom: 17px;
        font-size: 14px;
        font-weight: 500;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 11px;
    }
}

// rating.
.ed-rarting {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    grid-gap: 8px;
    color: var(--ed-color-primary);
    & i {
        color: var(--ed-color-body);
        &.active {
            color: var(--ed-color-warning);
        }
    }
}

// author box.
.ed-sm-author-box {
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    & a {
        color: var(--ed-color-black);
        font-weight: 500;
        text-decoration: none;
        &:hover {
            color: var(--ed-color-primary);
        }
    }
    & img {
        max-width: 35px;
        border-radius: 50%;
    }
}

.ed-price {
    font-size: 16px;
    font-weight: 600;
    color: var(--ed-color-primary);
    margin: 0;
    &.price-danger {
        color: var(--ed-color-danger);
    }
}