.ed-category-box {
    border: 1px solid var(--ed-color-border);
    padding: 34px;
    transition: all .3s;

    @media #{$xs} {
        padding: 24px;
    }

    &:hover {
        border-color: var(--ed-color-primary);
        & .ed-icon img {
            transform: rotateY(180deg);
        }
    }

    .ed-icon {
        margin-bottom: 50px;

        @media #{$xs} {
            margin-bottom: 35px;
        }

        & img {
            transition: all .3s;
        }
    }

    .ed-title {
        margin-bottom: 5px;

        @media #{$xs} {
            font-size: 18px;
        }

        & a {
            color: inherit;
            text-decoration: none;
            &:hover {
                color: var(--ed-color-primary);
            }
        }
    }
    @at-root {
        .ed-link {
            font-size: 15px;
            font-weight: 500;
            text-decoration: none;
            color: var(--ed-color-body);
            &:hover {
                color: var(--ed-color-primary);
            }
            & i {
                font-weight: 600;
                vertical-align: middle;
                margin-left: 3px;
            }
        }
    }
}

.ed-category-box-2 {
  padding: 50px;
  background: #F6E7F8;
  border: 1px solid #D0E1E2;

  @media #{$xs, $lg} {
    padding: 20px;
  }

  .ed-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: var(--ed-color-sweet);
      }
    }
  }

  .ed-icon {
    margin-bottom: 35px;
  }

  p {
    font-size: 15px;
    margin-bottom: 26px;
  }
}


.ed-category-left-banner-img-2 img {
    width: 100%;
}