// default card.
.ed-course-box-card {
  background: var(--ed-color-white);

  .ed-action-area {
    @media #{$xs} {
      padding-bottom: 15px;
    }
  }

  .ed-rating-bottom-body {
    @media #{$xs} {
      padding: 15px;
    }
  }

  .ed-meta-horizontal-2 {
    margin-bottom: 15px;
  }
  
  hr {
    margin: 0;
  }
  
  .ed-content-inner {
    padding-bottom: 22px;

    @media #{$xs} {
      padding: 15px;
    }
  }

  .ed-badge {
    position: absolute;
    left: 14px;
    top: 14px;
  }

  .ed-img {
    position: relative;

    a {
      display: block;

      img {
        width: 100%;
      }
    }
  }

  & .ed-title {
    font-size: 20px;
    margin-bottom: 18px;

    @media #{$xs} {
      font-size: 18px;
      margin-bottom: 10px;
    }

    & a {
        color: inherit;
        text-decoration: none;
        line-height: 1.4;
        &:hover {
            color: var(--ed-color-primary);
        }
    }
  }
}


.ed-meta-horizontal-2 {
  display: flex;
  grid-gap: 10px;
  flex-wrap: wrap;

  li {
    background: #EDF2F6;
    padding-right: 14px;
    display: flex;
    align-items: center;
    width: fit-content;
    grid-gap: 5px;
    border-radius: 40px;

    @media #{$xs} {
      padding-right: 9px;
      grid-gap: 2px
    }

    i {
      width: 28px;
      height: 28px;
      text-align: center;
      line-height: 28px;
      display: inline-block;
      background: var(--ed-color-primary);
      color: var(--ed-color-white);
      border-radius: 50px;
      font-size: 12px;
      font-weight: 500;
      margin-right: 2px;
    }
  }
}

