<div class="ed-course-card-horizontal ed-bg-white">
    <div class="ed-image">
        <img src="/images/course/course-1.jpg" alt="Course Image">
    </div>
    <div class="ed-content">
        <div class="ed-rarting ed-mb-10">
            <div class="rating-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span class="label">(5 Reviews)</span>
        </div>
        <h5 class="ed-title"><a href="#">{{banner_slide.title}}</a></h5>
        <ul class="ed-meta-horizontal">
            <li>
                <i class="fal fa-book"></i> <span>{{banner_slide.lesson_count}} Lessons</span>
                <i class="fal fa-user"></i> <span>{{banner_slide.students_count}} Students</span>
            </li>
        </ul>
        <p>{{banner_slide.content}}</p>
        <div class="ed-sm-author-box">
            <div class="ed-img">
                <img src="/images/author/author-1.jpg" alt="">
            </div>
            <div class="ed-content">
                Posted by <a href="#">Doug Lyphe</a>
            </div>
        </div>
        <hr>
        <div class="ed-course-card-content-action-bottom">
            <h6 class="ed-price">{{banner_slide.price}}</h6>
            <a href="#" class="ed-transparent-btn">Enroll Course <i class="fal fa-arrow-right"></i></a>
        </div>
    </div>
</div>