<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include "partials/head.html" %}
</head>
<body>
    <div class="ed-head-banner-bg-wrapper">
        <div class="ed-pt-30">
            {% include "components/header/layout-2.html" %}
        </div>
        {% include "components/banner/layout-5.html" %}
       <!-- /.banner layout end -->
       {% include "components/category/layout-2.html" %} 

        {% include "partials/scripts.html" %}
    </div>
</body>
</html>
