<!DOCTYPE html>
<html lang="en">
{% include "partials/head.njk" %}
<body>
<!-- header area start -->
<header class="ed-header-area">
    {% include "components/header/layout-1/topbar.njk" %}
    {% include "components/header/layout-1/middle.njk" %}
    {% include "components/header/layout-1/nav.njk" %}
</header>
<!-- header area end -->

<!-- banner area start -->
<section class="ed-banner-area ed-bg-primary ed-pt-185 mt-reverse-35">
    <h1 class="ed-banner-title ed-text-white ed-max-1920 mx-auto"><span>EDUCATIONAL</span> <span>MATERIAL</span></h1>
    <div class="ed-banner-inner-content ed-pl-105 ed-pr-105 ed-pt-20 ed-max-1920 mx-auto">
        <div class="ed-inner ed-pl-30">
            <div class="row align-items-center">
                <div class="col-xxl-6">
                    <div class="ed-course-view-sm-box">
                        <div class="ed-icon">
                            <img src="/images/icons/player.png" alt="Player icon">
                        </div>
                        <div class="ed-content">
                            <h6 class="ed-title">274+ Top Courses</h6>
                            <p>Nam nec mauris dignissim ligula</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6">
                    <div class="ed-banner-carousel-active-wrapper">
                        <div class="ed-banner-course-carousel-active swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="ed-course-card-horizontal ed-bg-white">
                                        <div class="ed-image">
                                            <img src="/images/course/course-1.jpg" alt="Course Image">
                                        </div>
                                        <div class="ed-content">
                                            <div class="ed-rarting ed-mb-10">
                                                <div class="rating-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <span class="label">(5 Reviews)</span>
                                            </div>
                                            <h5 class="ed-title"><a href="#">Graphic Design Master Class</a></h5>
                                            <ul class="ed-meta-horizontal">
                                                <li>
                                                    <i class="fal fa-book"></i> <span>34 Lessons</span>
                                                    <i class="fal fa-user"></i> <span>78 Students</span>
                                                </li>
                                            </ul>
                                            <p>Nam a felis erat mauris eget sempe Orci arius natoque penatibus magnis dis.</p>
                                            <div class="ed-sm-author-box">
                                                <div class="ed-img">
                                                    <img src="/images/author/author-1.jpg" alt="">
                                                </div>
                                                <div class="ed-content">
                                                    Posted by <a href="#">Doug Lyphe</a>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="ed-course-card-content-action-bottom">
                                                <h6 class="ed-price">Free</h6>
                                                <a href="#" class="ed-transparent-btn">Enroll Course <i class="fal fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="ed-course-card-horizontal ed-bg-white">
                                        <div class="ed-image">
                                            <img src="/images/course/course-1.jpg" alt="Course Image">
                                        </div>
                                        <div class="ed-content">
                                            <div class="ed-rarting ed-mb-10">
                                                <div class="rating-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <span class="label">(5 Reviews)</span>
                                            </div>
                                            <h5 class="ed-title"><a href="#">Gain web developer credentials.</a></h5>
                                            <ul class="ed-meta-horizontal">
                                                <li>
                                                    <i class="fal fa-book"></i> <span>34 Lessons</span>
                                                    <i class="fal fa-user"></i> <span>78 Students</span>
                                                </li>
                                            </ul>
                                            <p>Nam a felis erat mauris eget sempe Orci arius natoque penatibus magnis dis.</p>
                                            <div class="ed-sm-author-box">
                                                <div class="ed-img">
                                                    <img src="/images/author/author-1.jpg" alt="">
                                                </div>
                                                <div class="ed-content">
                                                    Posted by <a href="#">Doug Lyphe</a>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="ed-course-card-content-action-bottom">
                                                <h6 class="ed-price">Free</h6>
                                                <a href="#" class="ed-transparent-btn">Enroll Course <i class="fal fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="ed-course-card-horizontal ed-bg-white">
                                        <div class="ed-image">
                                            <img src="/images/course/course-1.jpg" alt="Course Image">
                                        </div>
                                        <div class="ed-content">
                                            <div class="ed-rarting ed-mb-10">
                                                <div class="rating-stars">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </div>
                                                <span class="label">(5 Reviews)</span>
                                            </div>
                                            <h5 class="ed-title"><a href="#">Graphic Design Master Class</a></h5>
                                            <ul class="ed-meta-horizontal">
                                                <li>
                                                    <i class="fal fa-book"></i> <span>34 Lessons</span>
                                                    <i class="fal fa-user"></i> <span>78 Students</span>
                                                </li>
                                            </ul>
                                            <p>Nam a felis erat mauris eget sempe Orci arius natoque penatibus magnis dis.</p>
                                            <div class="ed-sm-author-box">
                                                <div class="ed-img">
                                                    <img src="/images/author/author-1.jpg" alt="">
                                                </div>
                                                <div class="ed-content">
                                                    Posted by <a href="#">Doug Lyphe</a>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="ed-course-card-content-action-bottom">
                                                <h6 class="ed-price">Free</h6>
                                                <a href="#" class="ed-transparent-btn">Enroll Course <i class="fal fa-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ed-swiper-number-dots ed-banner-coiurse-carousel-dot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ed-banner-image">
        <img src="/images/banner/banner-image.png" alt="Player Image">
    </div>
</section>
<!-- banner area end -->

<!-- categories area start -->
<section class="ed-categories-area ed-pt-120 ed-pb-120">
    <div class="container">
        <div class="ed-section-title ed-mb-40">
            <h3 class="ed-title justify-content-center"><img src="/images/icons/category-icon.png" alt=""> Top Courses Categories</h3>
        </div>
        <div class="ed-category-wrapper">
            <div class="row">
                <div class="col-xxl-3">
                    <div class="ed-category-box ed-mb-30">
                        <div class="ed-icon">
                            <img src="/images/categories/category-1.svg" alt="Category 01">
                        </div>
                        <div class="ed-content">
                            <h6 class="ed-title"><a href="#">Digital Marketing</a></h6>
                            <a href="#" class="ed-link">34 Course <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3">
                    <div class="ed-category-box ed-mb-30">
                        <div class="ed-icon">
                            <img src="/images/categories/category-2.svg" alt="Category 01">
                        </div>
                        <div class="ed-content">
                            <h6 class="ed-title"><a href="#">IT & software</a></h6>
                            <a href="#" class="ed-link">20 Course <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3">
                    <div class="ed-category-box ed-mb-30">
                        <div class="ed-icon">
                            <img src="/images/categories/category-3.svg" alt="Category 01">
                        </div>
                        <div class="ed-content">
                            <h6 class="ed-title"><a href="#">UX Designer</a></h6>
                            <a href="#" class="ed-link">15 Course <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3">
                    <div class="ed-category-box ed-mb-30">
                        <div class="ed-icon">
                            <img src="/images/categories/category-4.svg" alt="Category 01">
                        </div>
                        <div class="ed-content">
                            <h6 class="ed-title">Finance & Accounting</h6>
                            <a href="#" class="ed-link">10 Course <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3">
                    <div class="ed-category-box ed-mb-30">
                        <div class="ed-icon">
                            <img src="/images/categories/category-5.svg" alt="Category 01">
                        </div>
                        <div class="ed-content">
                            <h6 class="ed-title"><a href="#">Front-End Developer</a></h6>
                            <a href="#" class="ed-link">50 Course <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3">
                    <div class="ed-category-box ed-mb-30">
                        <div class="ed-icon">
                            <img src="/images/categories/category-6.svg" alt="Category 01">
                        </div>
                        <div class="ed-content">
                            <h6 class="ed-title"><a href="#">design and printing</a></h6>
                            <a href="#" class="ed-link">28 Course <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3">
                    <div class="ed-category-box ed-mb-30">
                        <div class="ed-icon">
                            <img src="/images/categories/category-7.svg" alt="Category 01">
                        </div>
                        <div class="ed-content">
                            <h6 class="ed-title">Sales Marketing</h6>
                            <a href="#" class="ed-link">36 Course <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3">
                    <div class="ed-category-box ed-mb-30">
                        <div class="ed-icon">
                            <img src="/images/categories/category-8.svg" alt="Category 01">
                        </div>
                        <div class="ed-content">
                            <h6 class="ed-title"><a href="#">Graphic Design</a></h6>
                            <a href="#" class="ed-link">48 Course <i class="fal fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ed-category-banner ed-mt-35">
            <div class="ed-category-banner-left-img">
                <img src="/images/icons/category-banner.png" alt="Category Banner">
            </div>
            <div class="ed-content">
                <div class="ed-content-left">
                    <span class="ed-subtitle">Let Us Helps</span>
                    <h6 class="ed-title">Pinpointing To Suitable Courses</h6>
                </div>
                <div class="ed-content-right">
                    <a href="#" class="ed-wide-btn">More Categories <i class="fal fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- categories area end -->

<!-- related course area start -->
<section class="related-course-area bg-soft-primary ed-pt-95 ed-pb-90">
    <div class="container">
        <div class="row align-items-center ed-pb-45">
            <div class="col-xxl-6">
                <div class="ed-section-title text-center">
                    <h3 class="ed-title justify-content-start"><img src="/images/icons/book.svg" alt=""> Rated Learning Tutorials</h3>
                </div>
            </div>
            <div class="col-xxl-6">
                <div class="ed-course-menu-tabs ms-auto">
                    <button>UI/UX Design</button>
                    <button class="active">Development</button>
                    <button>Marketing</button>
                    <button>Business</button>
                </div>
            </div>
        </div>

        <div class="ed-related-course-wrapper">
            <div class="row">
                <div class="col-xxl-4">
                    <div class="ed-course-box-card ed-mb-30">
                        <div class="ed-img ed-p-10">
                            <a href="#"><img src="/images/course/couse-img-1.jpg" alt="Course Image"></a>
                            <a href="#" class="ed-badge">Learning</a>
                        </div>
                        <div class="ed-content">
                            <div class="ed-content-inner ed-p-30 ed-pb-25">
                                <ul class="ed-meta-horizontal-2 ed-mb-20">
                                    <li><i class="fal fa-book"></i> 34 Lessons</li>
                                    <li><i class="fal fa-user"></i> 78 Students</li>
                                </ul>
                                <h6 class="ed-title"><a href="#">Expert Graphic Design Course Learn High-Quality Design.</a></h6>
                                <a href="#" class="ed-transparent-wishlist-btn"><i class="fal fa-heart"></i> Add to wishlist</a>
                            </div>
                            <hr>
                        </div>
                        <div class="ed-rating-bottom-body ed-p-30">
                            <div class="ed-pb-25">
                                <div class="row">
                                    <div class="col-xxl-8">
                                        <div class="ed-rarting">
                                            <div class="rating-stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="label">(5 Reviews)</span>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4">
                                        <h6 class="ed-price price-danger text-end">$180.0</h6>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="ed-wide-btn w-100 ed-btn-icon-transparent hover-black-bg text-center">Learn More <i class="fal fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4">
                    <div class="ed-course-box-card ed-mb-30">
                        <div class="ed-img ed-p-10">
                            <a href="#"><img src="/images/course/course-img-2.jpg" alt="Course Image"></a>
                            <a href="#" class="ed-badge">Learning</a>
                        </div>
                        <div class="ed-content">
                            <div class="ed-content-inner ed-p-30 ed-pb-25">
                                <ul class="ed-meta-horizontal-2 ed-mb-20">
                                    <li><i class="fal fa-book"></i> 20 Lessons</li>
                                    <li><i class="fal fa-user"></i> 82 Students</li>
                                </ul>
                                <h6 class="ed-title"><a href="#">Creating an SEO Business Operated From Home.</a></h6>
                                <a href="#" class="ed-transparent-wishlist-btn"><i class="fal fa-heart"></i> Add to wishlist</a>
                            </div>
                            <hr>
                        </div>
                        <div class="ed-rating-bottom-body ed-p-30">
                            <div class="ed-pb-25">
                                <div class="row">
                                    <div class="col-xxl-8">
                                        <div class="ed-rarting">
                                            <div class="rating-stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="label">(5 Reviews)</span>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4">
                                        <h6 class="ed-price price-danger text-end">$234.0</h6>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="ed-wide-btn w-100 ed-btn-icon-transparent hover-black-bg text-center">Learn More <i class="fal fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4">
                    <div class="ed-course-box-card ed-mb-30">
                        <div class="ed-img ed-p-10">
                            <a href="#"><img src="/images/course/course-img-3.jpg" alt="Course Image"></a>
                            <a href="#" class="ed-badge">Learning</a>
                        </div>
                        <div class="ed-content">
                            <div class="ed-content-inner ed-p-30 ed-pb-25">
                                <ul class="ed-meta-horizontal-2 ed-mb-20">
                                    <li><i class="fal fa-book"></i> 65 Lessons</li>
                                    <li><i class="fal fa-user"></i> 86 Students</li>
                                </ul>
                                <h6 class="ed-title"><a href="#">Expand person financial being ideas & build principles.</a></h6>
                                <a href="#" class="ed-transparent-wishlist-btn"><i class="fal fa-heart"></i> Add to wishlist</a>
                            </div>
                            <hr>
                        </div>
                        <div class="ed-rating-bottom-body ed-p-30">
                            <div class="ed-pb-25">
                                <div class="row">
                                    <div class="col-xxl-8">
                                        <div class="ed-rarting">
                                            <div class="rating-stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="label">(5 Reviews)</span>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4">
                                        <h6 class="ed-price price-danger text-end">$140.0</h6>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="ed-wide-btn w-100 ed-btn-icon-transparent hover-black-bg text-center">Learn More <i class="fal fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4">
                    <div class="ed-course-box-card ed-mb-30">
                        <div class="ed-img ed-p-10">
                            <a href="#"><img src="/images/course/course-img-4.jpg" alt="Course Image"></a>
                            <a href="#" class="ed-badge">Learning</a>
                        </div>
                        <div class="ed-content">
                            <div class="ed-content-inner ed-p-30 ed-pb-25">
                                <ul class="ed-meta-horizontal-2 ed-mb-20">
                                    <li><i class="fal fa-book"></i> 16 Lessons</li>
                                    <li><i class="fal fa-user"></i> 38 Students</li>
                                </ul>
                                <h6 class="ed-title"><a href="#">Machine Learning from Start Finish: Python & Java in Practice.</a></h6>
                                <a href="#" class="ed-transparent-wishlist-btn"><i class="fal fa-heart"></i> Add to wishlist</a>
                            </div>
                            <hr>
                        </div>
                        <div class="ed-rating-bottom-body ed-p-30">
                            <div class="ed-pb-25">
                                <div class="row">
                                    <div class="col-xxl-8">
                                        <div class="ed-rarting">
                                            <div class="rating-stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="label">(5 Reviews)</span>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4">
                                        <h6 class="ed-price price-danger text-end">$300.0</h6>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="ed-wide-btn w-100 ed-btn-icon-transparent hover-black-bg text-center">Learn More <i class="fal fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4">
                    <div class="ed-course-box-card ed-mb-30">
                        <div class="ed-img ed-p-10">
                            <a href="#"><img src="/images/course/course-img-5.jpg" alt="Course Image"></a>
                            <a href="#" class="ed-badge">Learning</a>
                        </div>
                        <div class="ed-content">
                            <div class="ed-content-inner ed-p-30 ed-pb-25">
                                <ul class="ed-meta-horizontal-2 ed-mb-20">
                                    <li><i class="fal fa-book"></i> 16 Lessons</li>
                                    <li><i class="fal fa-user"></i> 38 Students</li>
                                </ul>
                                <h6 class="ed-title"><a href="#">Computer Science: Quantitative and Analytical Methods.</a></h6>
                                <a href="#" class="ed-transparent-wishlist-btn"><i class="fal fa-heart"></i> Add to wishlist</a>
                            </div>
                            <hr>
                        </div>
                        <div class="ed-rating-bottom-body ed-p-30">
                            <div class="ed-pb-25">
                                <div class="row">
                                    <div class="col-xxl-8">
                                        <div class="ed-rarting">
                                            <div class="rating-stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="label">(5 Reviews)</span>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4">
                                        <h6 class="ed-price price-danger text-end">$364.0</h6>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="ed-wide-btn w-100 ed-btn-icon-transparent hover-black-bg text-center">Learn More <i class="fal fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4">
                    <div class="ed-course-box-card ed-mb-30">
                        <div class="ed-img ed-p-10">
                            <a href="#"><img src="/images/course/course-img-6.jpg" alt="Course Image"></a>
                            <a href="#" class="ed-badge">Learning</a>
                        </div>
                        <div class="ed-content">
                            <div class="ed-content-inner ed-p-30 ed-pb-25">
                                <ul class="ed-meta-horizontal-2 ed-mb-20">
                                    <li><i class="fal fa-book"></i> 06 Lessons</li>
                                    <li><i class="fal fa-user"></i> 46 Students</li>
                                </ul>
                                <h6 class="ed-title"><a href="#">Digital Marketing Masterclass + AI & ChatGPT.</a></h6>
                                <a href="#" class="ed-transparent-wishlist-btn"><i class="fal fa-heart"></i> Add to wishlist</a>
                            </div>
                            <hr>
                        </div>
                        <div class="ed-rating-bottom-body ed-p-30">
                            <div class="ed-pb-25">
                                <div class="row">
                                    <div class="col-xxl-8">
                                        <div class="ed-rarting">
                                            <div class="rating-stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="label">(5 Reviews)</span>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4">
                                        <h6 class="ed-price price-danger text-end">$415.0</h6>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="ed-wide-btn w-100 ed-btn-icon-transparent hover-black-bg text-center">Learn More <i class="fal fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- related course area end -->

<!-- course banner 2 start -->
<div class="ed-course-banner-2 ed-pt-120">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6">
                <div class="ed-course-banner-2-box">
                    <div class="row">
                        <div class="col-xxl-6">
                            <div class="ed-course-banner-content">
                                <h4 class="ed-title"><span>DIGITAL</span> Classes by History</h4>
                                <a href="#" class="ed-wide-btn">Learn More <i class="fal fa-angle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-xxl-6">
                            <div class="ed-course-banner-image text-end ed-pr-60">
                                <img src="/images/banner/baner-img-1.png" alt="Banner Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6">
                <div class="ed-course-banner-2-box bg-2">
                    <div class="row">
                        <div class="col-xxl-6">
                            <div class="ed-course-banner-content">
                                <h4 class="ed-title"><span>ONLINE</span> Classes By History</h4>
                                <a href="#" class="ed-wide-btn ed-btn-purple">Learn More <i class="fal fa-angle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-xxl-6">
                            <div class="ed-course-banner-image text-end ed-pr-60">
                                <img src="/images/banner/banner-img-2.png" alt="Banner Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- course banner 2 end -->

<!-- live course area start -->
<section class="live-course-area ed-pt-100">
    <div class="ed-pl-160 ed-pr-160">
        <div class="ed-live-course-content-box bg-soft-primary ed-pt-100 ed-pb-80 ed-live-course-content-box-bg ed-bg-default ed-bg-bottom-left">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xxl-6">
                        <div class="ed-content">
                            <a href="#" class="ed-badge has-dot ed-badge-danger ed-mb-15">LIVE COURSES</a>
                            <h3 class="ed-title ed-mb-20">Live & Learn: Real-Time <br/>Classes.</h3>
                            <p class="ed-mb-35">Praesent fermentum ullamcorper eros accumsan. Mauris non luctus ante, molestie pellentesque massa. Donec pulvinar diam est, at sodales lorem auctor a. Nullam et tincidunt quam.</p>
                            <a href="#" class="ed-wide-btn">Learn More <i class="fal fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xxl-6">
                        <div class="ed-cross-course-slide-wrapper ms-auto">
                            <div class="ed-cross-course-slide-active swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="ed-course-box-card ed-mb-30">
                                            <div class="ed-img ed-p-10">
                                                <a href="#"><img src="/images/course/course-img-3.jpg" alt="Course Image"></a>
                                                <a href="#" class="ed-badge">Learning</a>
                                            </div>
                                            <div class="ed-content">
                                                <div class="ed-content-inner ed-p-30 ed-pb-25">
                                                    <ul class="ed-meta-horizontal-2 ed-mb-20">
                                                        <li><i class="fal fa-book"></i> 65 Lessons</li>
                                                        <li><i class="fal fa-user"></i> 86 Students</li>
                                                    </ul>
                                                    <h6 class="ed-title"><a href="#">Expand person financial being ideas & build principles.</a></h6>
                                                    <a href="#" class="ed-transparent-wishlist-btn"><i class="fal fa-heart"></i> Add to wishlist</a>
                                                </div>
                                                <hr>
                                            </div>
                                            <div class="ed-rating-bottom-body ed-p-30">
                                                <div class="ed-pb-25">
                                                    <div class="row">
                                                        <div class="col-xxl-8">
                                                            <div class="ed-rarting">
                                                                <div class="rating-stars">
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                                <span class="label">(5 Reviews)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xxl-4">
                                                            <h6 class="ed-price price-danger text-end">$140.0</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="ed-wide-btn w-100 ed-btn-icon-transparent hover-black-bg text-center">Learn More <i class="fal fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="ed-course-box-card ed-mb-30">
                                            <div class="ed-img ed-p-10">
                                                <a href="#"><img src="/images/course/course-img-4.jpg" alt="Course Image"></a>
                                                <a href="#" class="ed-badge">Education</a>
                                            </div>
                                            <div class="ed-content">
                                                <div class="ed-content-inner ed-p-30 ed-pb-25">
                                                    <ul class="ed-meta-horizontal-2 ed-mb-20">
                                                        <li><i class="fal fa-book"></i> 16 Lessons</li>
                                                        <li><i class="fal fa-user"></i> 38 Students</li>
                                                    </ul>
                                                    <h6 class="ed-title"><a href="#">Machine Learning from Start Finish: Python & Java in Practice.</a></h6>
                                                    <a href="#" class="ed-transparent-wishlist-btn"><i class="fal fa-heart"></i> Add to wishlist</a>
                                                </div>
                                                <hr>
                                            </div>
                                            <div class="ed-rating-bottom-body ed-p-30">
                                                <div class="ed-pb-25">
                                                    <div class="row">
                                                        <div class="col-xxl-8">
                                                            <div class="ed-rarting">
                                                                <div class="rating-stars">
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                                <span class="label">(5 Reviews)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xxl-4">
                                                            <h6 class="ed-price price-danger text-end">$300.0</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="ed-wide-btn w-100 ed-btn-icon-transparent hover-black-bg text-center">Learn More <i class="fal fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="ed-course-box-card ed-mb-30">
                                            <div class="ed-img ed-p-10">
                                                <a href="#"><img src="/images/course/course-img-5.jpg" alt="Course Image"></a>
                                                <a href="#" class="ed-badge">Learning</a>
                                            </div>
                                            <div class="ed-content">
                                                <div class="ed-content-inner ed-p-30 ed-pb-25">
                                                    <ul class="ed-meta-horizontal-2 ed-mb-20">
                                                        <li><i class="fal fa-book"></i> 16 Lessons</li>
                                                        <li><i class="fal fa-user"></i> 38 Students</li>
                                                    </ul>
                                                    <h6 class="ed-title"><a href="#">Computer Science: Quantitative and Analytical Methods.</a></h6>
                                                    <a href="#" class="ed-transparent-wishlist-btn"><i class="fal fa-heart"></i> Add to wishlist</a>
                                                </div>
                                                <hr>
                                            </div>
                                            <div class="ed-rating-bottom-body ed-p-30">
                                                <div class="ed-pb-25">
                                                    <div class="row">
                                                        <div class="col-xxl-8">
                                                            <div class="ed-rarting">
                                                                <div class="rating-stars">
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                                <span class="label">(5 Reviews)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xxl-4">
                                                            <h6 class="ed-price price-danger text-end">$364.0</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="ed-wide-btn w-100 ed-btn-icon-transparent hover-black-bg text-center">Learn More <i class="fal fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="ed-course-box-card ed-mb-30">
                                            <div class="ed-img ed-p-10">
                                                <a href="#"><img src="/images/course/course-img-6.jpg" alt="Course Image"></a>
                                                <a href="#" class="ed-badge">Finance</a>
                                            </div>
                                            <div class="ed-content">
                                                <div class="ed-content-inner ed-p-30 ed-pb-25">
                                                    <ul class="ed-meta-horizontal-2 ed-mb-20">
                                                        <li><i class="fal fa-book"></i> 06 Lessons</li>
                                                        <li><i class="fal fa-user"></i> 46 Students</li>
                                                    </ul>
                                                    <h6 class="ed-title"><a href="#">Digital Marketing Masterclass + AI & ChatGPT.</a></h6>
                                                    <a href="#" class="ed-transparent-wishlist-btn"><i class="fal fa-heart"></i> Add to wishlist</a>
                                                </div>
                                                <hr>
                                            </div>
                                            <div class="ed-rating-bottom-body ed-p-30">
                                                <div class="ed-pb-25">
                                                    <div class="row">
                                                        <div class="col-xxl-8">
                                                            <div class="ed-rarting">
                                                                <div class="rating-stars">
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                </div>
                                                                <span class="label">(5 Reviews)</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xxl-4">
                                                            <h6 class="ed-price price-danger text-end">$415.0</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" class="ed-wide-btn w-100 ed-btn-icon-transparent hover-black-bg text-center">Learn More <i class="fal fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- live course area end -->

<!-- testimonial area start -->
<section class="ed-testimonial-area ed-pt-110">
    <div class="container">
        <div class="ed-section-title ed-mb-40"><h3 class="ed-title d-block text-center">Learn
            <div class="ed-avatar-group">
                <img src="/images/icons/avatar-1.jpg" alt="Avatar">
                <img src="/images/icons/avatar-2.jpg" alt="Avatar">
                <img src="/images/icons/avatar-3.jpg" alt="Avatar">
                <img src="/images/icons/avatar-4.jpg" alt="Avatar">
            </div>
            Testimonials<br/> & Success Stories.</h3>
        </div>
    </div>
    <div class="ed-testimonial-active swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="ed-testimonial-area">
                    <div class="ed-testimonial-box ed-bg-1 ed-bg-bottom-right ed-bg-default">
                        <div class="ed-head ed-mb-35">
                            <div class="row">
                                <div class="col-xxl-6">
                                    <div class="ed-icon">
                                        <img src="/images/icons/testimonial-logo-1.png" alt="Testimonial Logo">
                                    </div>
                                </div>
                                <div class="col-xxl-6">
                                    <div class="ed-rarting justify-content-end">
                                        <div class="rating-stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ed-body">
                            <p>“Mauris ut ex dui. Quisque bibendum posuere ague nam puros malasada suscept urn mantis leo. Maecenas macules locus  imperdiet luctus turpis porta Maecenas posuere ex magna, quis lobortis lacus Praesent nec nisl Donec nec pulvinar urna felis vitae ornare maximus”</p>
                        </div>
                        <div class="ed-footer">
                            <div class="ed-sm-author-box-2">
                                <div class="ed-img">
                                    <img src="/images/icons/testimonial-author.jpg" alt="">
                                </div>
                                <div class="ed-content">
                                    <h6 class="ed-title">Hanson Deck</h6>
                                    <span class="ed-role">Chief Executive Officer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="ed-testimonial-area">
                    <div class="ed-testimonial-box ed-bg-2 ed-bg-bottom-right ed-bg-default">
                        <div class="ed-head ed-mb-35">
                            <div class="row">
                                <div class="col-xxl-6">
                                    <div class="ed-icon">
                                        <img src="/images/icons/testimonial-logo-2.png" alt="Testimonial Logo">
                                    </div>
                                </div>
                                <div class="col-xxl-6">
                                    <div class="ed-rarting justify-content-end">
                                        <div class="rating-stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ed-body">
                            <p>“Mauris ut ex dui. Quisque bibendum posuere ague nam puros malasada suscept urn mantis leo. Maecenas macules locus  imperdiet luctus turpis porta Maecenas posuere ex magna, quis lobortis lacus Praesent nec nisl Donec nec pulvinar urna felis vitae ornare maximus”</p>
                        </div>
                        <div class="ed-footer">
                            <div class="ed-sm-author-box-2">
                                <div class="ed-img">
                                    <img src="/images/icons/testimonial-author.jpg" alt="">
                                </div>
                                <div class="ed-content">
                                    <h6 class="ed-title">Hanson Deck</h6>
                                    <span class="ed-role">Chief Executive Officer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="ed-testimonial-area">
                    <div class="ed-testimonial-box ed-bg-3 ed-bg-bottom-right ed-bg-default">
                        <div class="ed-head ed-mb-35">
                            <div class="row">
                                <div class="col-xxl-6">
                                    <div class="ed-icon">
                                        <img src="/images/icons/testimonial-logo-3.png" alt="Testimonial Logo">
                                    </div>
                                </div>
                                <div class="col-xxl-6">
                                    <div class="ed-rarting justify-content-end">
                                        <div class="rating-stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ed-body">
                            <p>“Mauris ut ex dui. Quisque bibendum posuere ague nam puros malasada suscept urn mantis leo. Maecenas macules locus  imperdiet luctus turpis porta Maecenas posuere ex magna, quis lobortis lacus Praesent nec nisl Donec nec pulvinar urna felis vitae ornare maximus”</p>
                        </div>
                        <div class="ed-footer">
                            <div class="ed-sm-author-box-2">
                                <div class="ed-img">
                                    <img src="/images/icons/testimonial-author.jpg" alt="">
                                </div>
                                <div class="ed-content">
                                    <h6 class="ed-title">Hanson Deck</h6>
                                    <span class="ed-role">Chief Executive Officer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="ed-testimonial-area">
                    <div class="ed-testimonial-box ed-bg-2 ed-bg-bottom-right ed-bg-default">
                        <div class="ed-head ed-mb-35">
                            <div class="row">
                                <div class="col-xxl-6">
                                    <div class="ed-icon">
                                        <img src="/images/icons/testimonial-logo-2.png" alt="Testimonial Logo">
                                    </div>
                                </div>
                                <div class="col-xxl-6">
                                    <div class="ed-rarting justify-content-end">
                                        <div class="rating-stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ed-body">
                            <p>“Mauris ut ex dui. Quisque bibendum posuere ague nam puros malasada suscept urn mantis leo. Maecenas macules locus  imperdiet luctus turpis porta Maecenas posuere ex magna, quis lobortis lacus Praesent nec nisl Donec nec pulvinar urna felis vitae ornare maximus”</p>
                        </div>
                        <div class="ed-footer">
                            <div class="ed-sm-author-box-2">
                                <div class="ed-img">
                                    <img src="/images/icons/testimonial-author.jpg" alt="">
                                </div>
                                <div class="ed-content">
                                    <h6 class="ed-title">Hanson Deck</h6>
                                    <span class="ed-role">Chief Executive Officer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="ed-testimonial-area">
                    <div class="ed-testimonial-box ed-bg-3 ed-bg-bottom-right ed-bg-default">
                        <div class="ed-head ed-mb-35">
                            <div class="row">
                                <div class="col-xxl-6">
                                    <div class="ed-icon">
                                        <img src="/images/icons/testimonial-logo-3.png" alt="Testimonial Logo">
                                    </div>
                                </div>
                                <div class="col-xxl-6">
                                    <div class="ed-rarting justify-content-end">
                                        <div class="rating-stars">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ed-body">
                            <p>“Mauris ut ex dui. Quisque bibendum posuere ague nam puros malasada suscept urn mantis leo. Maecenas macules locus  imperdiet luctus turpis porta Maecenas posuere ex magna, quis lobortis lacus Praesent nec nisl Donec nec pulvinar urna felis vitae ornare maximus”</p>
                        </div>
                        <div class="ed-footer">
                            <div class="ed-sm-author-box-2">
                                <div class="ed-img">
                                    <img src="/images/icons/testimonial-author.jpg" alt="">
                                </div>
                                <div class="ed-content">
                                    <h6 class="ed-title">Hanson Deck</h6>
                                    <span class="ed-role">Chief Executive Officer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="ed-testimonial-banner ed-mt-55">
            <div class="row">
                <div class="col-xxl-4">
                    <div class="ed-left">
                        <div class="ed-google-rating-box">
                            <div class="ed-icon">
                                <img src="/images/icons/google.svg" alt="Google">
                            </div>
                            <div class="ed-content">
                                <div class="ed-rarting">
                                    <div class="rating-stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <b>4.8 Rating on Google</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3">
                    <div class="ed-plane-box text-center">
                        <img src="/images/icons/plane-2.svg" alt="Plane">
                    </div>
                </div>
                <div class="col-xxl-5">
                    <div class="text-end">
                        <a href="#" class="ed-wide-btn">View all Testimonials <i class="fal fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial area end -->

<!-- team area start -->
<div class="ed-team-area">
    <div class="container">
        <div class="ed-section-title ed-mb-40">
            <h3 class="ed-title justify-content-center"><img src="/images/icons/team-user.svg" alt=""> Premiers Educators Here</h3>
        </div>
    </div>
</div>
<!-- team area end -->

<br><br><br><br><br><br><br><br><br><br>

{% include "partials/scripts.njk" %}
</body>
</html>