:root {
    --ed-color-primary: #14717D;
    --ed-color-soft-primary: #EDF2F6;
    --ed-color-secondary: #FFA800;
    --ed-color-white: #fff;
    --ed-color-soft-white: rgba(255, 255, 255, 0.80);
    --ed-color-black: #050C1F;
    --ed-color-purple: #5F1D74;
    --ed-color-body: #696D79;
    --ed-color-warning: #FFA121;
    --ed-color-danger: #D90A2C;
    --ed-color-danger-deep: #9D2235;
    --ed-color-sweet: #D5D52B;
    --ed-color-border: rgba(5, 12, 31, 0.14);
    --ed-color-success-soft: #D0E1E2;
    --ed-color-warning-soft: #F8F5E7;
    --ed-color-pending-soft: #E7EBF8;
}