<!-- about area start -->
<section class="ed-about-area-1 ed-primary-bg ed-about-1-section-space ed-about-1-bg-image">
    <div class="container">
        <div class="ed-about-1-root-wrapper">
            <div class="row justify-content-end">
                <div class="col-xxl-3 order-last order-lg-first">
                    <div class="ed-about-1-img">
                        <img src="/images/banner/user-reading.png" alt="User Reading">
                    </div>
                </div>
                <div class="col-xxl-9">
                    <div class="ed-about-1-content-root-wrapper">
                        <div class="row align-items-center align-items-xl-end">
                            <div class="col-xxl-4 col-lg-5">
                                {% import "components/card/course/layout-bordered.html" as layoutBorder %}
                                {% set course =
                                    {
                                        "id": 1,
                                        "image": "/images/course/card-bordered/related-course-card-1.jpg",
                                        "category_url": "#",
                                        "category": "Learning",
                                        "wishlist_url": "#",
                                        "permalink": "#",
                                        "title": "Professional-Level Graphic Design Course.",
                                        "lessons": 34,
                                        "students": 78,
                                        "add_cart_url": "#",
                                        "price": 96,
                                        "originalPrice": 120,
                                        "rating": 4.5,
                                        "author_url": "#",
                                        "author": "Desmond",
                                        "authorImg": "/images/author/teacher-1.png",
                                        "description": "Dolorous qualm quisque connecter adipescent impediment.",
                                        "features": [
                                        "Eita quad ex rhonchus vitae lectors in digicam pharetra ipsum.",
                                        "Magmas dis parturient mantes",
                                        "Morbi critique lorem sit a met arco utricles tempus."
                                        ]
                                    } %}
                                {{ layoutBorder.courseCard(course) }}
                            </div>
                            <div class="col-xxl-8 col-lg-7">
                                <div class="ed-about-1-content">
                                    <h2 class="ed-title">Most Respected Free Online Programs</h2>
                                    <p>Fusce suscipit aliquet viverra blandit suscipit. Duis cursus tincidunt ullamcorper Aenean auctor magna vitae  quis laoreet mauris aliquet</p>

                                    {% import "components/list/layout-2.html" as list %}

                                    {% set features = [
                                        "Technology-Enabled Generation Duis Cursus",
                                        "Highly-Ranked Instructors Viverra Suscipit",
                                        "Web-Based Certifications Mauris Aliquet"
                                    ] %}

                                    {{ list.edList(features) }}

                                    {% import "components/button/button-wide.html" as btn %}
                                    {{ btn.button("#", "Learn More", "ed-sweet ed-sm-round") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about area end -->