{% macro question(imagePath) %}
<div class="ed-faq-section">
  <div class="container">
    <div class="row">
      <div class="col-xxl-6 col-sm-5 col-md-6">
        <div class="ed-faq-left-content">
          <h3 class="ed-faq-title">Explore Solutions in Our Help FAQ</h3>
          <p>Donec in sapien pharetra sollicitudin feugiat...</p>
          <img src="{{ imagePath }}" alt="Banner">
        </div>
      </div>
      <div class="col-xxl-6 col-sm-7 col-md-6">
        {% import 'components/accordion/layout-1.html' as accordion %}
        {% set faqs = [
        {
          id: "accordion-1",
          label: "Day 1 – Beginner Python: Managing Data with Variables",
          value: "There are many variations of passages Ut a sem rhonchus at connecter sem lutropins dolor sit amet consectetur adipiscing elit proin leo sem luctus turpis  feugiat convallis diam.fugit convallis diam available.!",
          expanded: true
        },
        {
          id: "accordion-two",
          label: "Segment questions by category?",
          value: "There are many variations of passages Ut a sem rhonchus at connecter sem lutropins dolor sit amet consectetur adipiscing elit proin leo sem luctus turpis  feugiat convallis diam.fugit convallis diam available.!",
          expanded: false
        },
        {
          id: "accordion-three",
          label: "How to choose the perfect class for me?",
          value: "There are many variations of passages Ut a sem rhonchus at connecter sem lutropins dolor sit amet consectetur adipiscing elit proin leo sem luctus turpis  feugiat convallis diam.fugit convallis diam available.!",
          expanded: false
        },
        {
          id: "accordion-four",
          label: "How does the Affiliate Program run?",
          value: "There are many variations of passages Ut a sem rhonchus at connecter sem lutropins dolor sit amet consectetur adipiscing elit proin leo sem luctus turpis  feugiat convallis diam.fugit convallis diam available.!",
          expanded: false
        }
      ] %}
        {{ accordion.renderAccordion(faqs) }}
      </div>
    </div>
  </div>
</div>
{% endmacro %}
