<div class="ed-category-banner-section-2-space">
    <!-- category area start -->
    <div class="ed-category-2-area">
        <div class="container">
            <div class="ed-section-title-2">
                <h4 class="ed-title text-center">
                    Populares Category
                </h4>
            </div>
            <div class="ed-category-content-wrapper-2">
                <div class="ed-category-left-image-2">
                    <div class="ed-category-left-banner-img-2">
                        <img src="/images/categories/category-image.jpg" alt="Category Image">
                    </div>
                </div>
                <div class="ed-category-right-content-2">
                    <div class="row g-0">
                        <div class="col-xxl-6">
                            {% import "components/card/category/category-rectengle.html" as cat %}
                            {{ cat.category('Sales Marketing', '#', 'Praesent malesuada porttitor nunc zacilisis nibh maximus nisl nec risus.', 34, '/images/categories/cat-1.svg', 'Category Image') }}
                        </div>
                        <div class="col-xxl-6">
                            <div class="ed-category-box-2 ed-bg-success-soft">
                                <div class="ed-icon">
                                    <img src="/images/categories/cat-2.svg" alt="Category Image">
                                </div>
                                <div class="ed-content">
                                    <h6 class="ed-title"><a href="#">Sales Marketing</a></h6>
                                    <p>Praesent malesuada porttitor nunc zacilisis nibh maximus nisl nec risus. </p>
                                    <a href="#" class="ed-link">28 Course <i class="fal fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6">
                            <div class="ed-category-box-2 ed-bg-warning-soft">
                                <div class="ed-icon">
                                    <img src="/images/categories/cat-3.svg" alt="Category Image">
                                </div>
                                <div class="ed-content">
                                    <h6 class="ed-title"><a href="#">Sales Marketing</a></h6>
                                    <p>Praesent malesuada porttitor nunc zacilisis nibh maximus nisl nec risus. </p>
                                    <a href="#" class="ed-link">28 Course <i class="fal fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6">
                            <div class="ed-category-box-2 ed-bg-pending-soft">
                                <div class="ed-icon">
                                    <img src="/images/categories/cat-4.svg" alt="Category Image">
                                </div>
                                <div class="ed-content">
                                    <h6 class="ed-title"><a href="#">Sales Marketing</a></h6>
                                    <p>Praesent malesuada porttitor nunc zacilisis nibh maximus nisl nec risus. </p>
                                    <a href="#" class="ed-link">28 Course <i class="fal fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- category area end -->
</div>