<div class="ed-header-bottom">
    <div class="container">
        <div class="ed-header-menu-area">
            <div class="row align-items-center">
                <div class="col-xxl-7">
                    <div class="ed-header-nav">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="#">Courses</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-5">
                    <div class="ed-header-bottom-right-wrapper">
                        <div class="ed-header-search-box">
                            <input type="search" name="search" id="search" placeholder="Search Your Course">
                            <button type="submit"><i class="fal fa-search"></i></button>
                        </div>
                        <a href="#" class="ed-btn">
                            Free Quote
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header bottom-->