<div class="ed-header-top">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="ed-header-left">
                    <ul class="ed-list-horizontal">
                        <li><a href="mailto:example@gmail.com"><i class="fal fa-envelope"></i> example@gmail.com</a></li>
                        <li><a href="tel:+8805768564622"><i class="fal fa-phone-plus"></i> [088] 5768 564 622</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div class="ed-header-right text-end">
                    <div class="dropdown">
                        <button class="dropdown-toggle ed-dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            English
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">English</a></li>
                            <li><a class="dropdown-item" href="#">Bangla</a></li>
                            <li><a class="dropdown-item" href="#">Hindi</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="dropdown-toggle ed-dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            $USD (USA)
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">$USD (USA)</a></li>
                            <li><a class="dropdown-item" href="#">৳BDT (Bangladesh)</a></li>
                            <li><a class="dropdown-item" href="#">₹INR (India)</a></li>
                        </ul>
                    </div>
                    <a href="#" class="ed-btn-transparent">
                        <i class="fal fa-user"></i> Sign In
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /. end header top -->