<div class="ed-header-top">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="ed-header-left">
                    {% import "components/contact/contact-info-1.html" as macros %}

                    {% set contacts = [
                        {
                            type: "mailto",
                            icon: "fal fa-envelope",
                            value: "example@gmail.com",
                            label: "example@gmail.com"
                        },
                        {
                            type: "tel",
                            icon: "fal fa-phone-plus",
                            value: "+8805768564622",
                            label: "[088] 5768 564 622"
                        }
                    ] %}

                    {{ macros.contactList(contacts) }}

                </div>
            </div>
            <div class="col-6">
                <div class="ed-header-right text-end">
                    {% include "components/header/components/header-actions.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /. end header top -->