<!-- footer area start -->
<footer class="footera-area ed-footer-2">
    <div class="ed-container-wide-2">
        <div class="footer-social-area">
            <ul class="ed-footer-social-full-width">
                <li>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                        <span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                        <span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                        <span>Linkedin</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-dribble-in"></i>
                        <span>Dribbble</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                        <span>Instagram</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="ed-footer-main-part-2">
        <div class="ed-footer-widget-about-1">
            <div class="ed-logo">
                <a href="#"><img src="/images/logo-white.png" alt="Logo"></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xxl-4">
                       <div class="ed-footer-widget-about-1">
                            <div class="ed-logo">
                                <a href="#"><img src="/images/logo-white.png" alt="Logo"></a>
                            </div>
                            <div class="ed-content">
                                <p>Present Fermentum Tullamore eros accusing marris non locus ante.</p>
                                {% import "components/form/form-subscribe.html-2" as subscribe_form %}
                                {{ subscribe_form.subscribe() }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->