<!-- subscribe area start -->
<section class="ed-subscribe-area-2 ed-subscribe-space-top-2">
    <div class="container">
        <div class="ed-subscribe-area-2-wrapper ed-bg-blue">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6">
                    <h5 class="ed-title text-center text-md-start">Follow the<br/> page for further details</h5>
                </div>
                <div class="col-xxl-6 col-xl-6">
                    {% import "components/form/form-subscribe.html" as subscribe_form %}
                    {{ subscribe_form.subscribe('ed-rounded-form', false, "ed-wide-btn ed-sweet ed-sm-round", true) }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe area end -->