.ed-about-area-1 {

    .ed-course-card-bordered-2 {
        min-width: 300px;
        margin-left: -15px;

        @media #{$xs, $md, $lg, $xl} {
          min-width: 100%;
          margin-left: 0;
        }
    }

    .ed-about-1-content {
        padding-bottom: 66px;
        padding-left: 45px;

        @media #{$xs, $md} {
          padding-left: 0;
          padding-top: 30px;
          padding-bottom: 0;
        }

        @media #{$lg} {
          padding-left: 0;
          padding-bottom: 0;
        }

        .ed-title {
            font-weight: 600;
            color: var(--ed-color-white);
            margin-bottom: 15px;

            @media #{$xs} {
              font-size: 26px;
            }

            @media #{$lg} {
              font-size: 43px; 
            }

            @media #{$xl} {
              font-size: 50px;
            }
        }

        p {
            font-size: 15px;
            color: rgba(255, 255, 255, 0.7);
            margin-bottom: 30px;
        }

        .ed-list-2 {
            margin-bottom: 57px;
        }
    }
}

.ed-sm-round {
  border-radius: 6px;
}

.ed-about-1-root-wrapper {
  position: relative;

  .ed-about-1-img {
    position: absolute;
    left: -119px;
    bottom: -90px;
   
    @media #{$xs, $md} {
      position: static;
      margin-top: 40px;
    }

    @media #{$lg} {
      left: 320px;
      opacity: .3;
    }

    img {
      max-width: 612px;

      @media #{$xs, $md} {
        max-width: 100%;
      }
    }
  }
}

.ed-about-1-content-root-wrapper {
  position: relative;
}

.ed-about-1-section-space {
  padding-bottom: 90px;
  margin-top: 110px;
  padding-top: 160px;
  
  @media #{$xs} {
    margin-top: 35px;
    padding-top: 65px;
    padding-bottom: 0;
  }

  @media #{$md} {
    padding-bottom: 0;
  }
}

.ed-about-1-bg-image {
    background-image: url('../images/background/about-bg.png');
    background-size: cover;
}

.ed-about-area-2-root-wrapper {
  border-radius: 10px;
  padding-top: 120px;
  padding-bottom: 188px;

  @media #{$xs, $md} {
    padding: 24px 20px;
  }

  @media #{$lg} {
      padding: 30px;
  }

  .container {
    @media #{$xs, $md, $lg} {
      padding: 0;
    }
  }
}

.ed-about-content-2 {

  &.has-right-gap {
    padding-right: 120px;

    @media #{$xs, $md, $lg} {
      padding: 0;
    }
  }

  p {
    font-size: 15px;
    margin-bottom: 0;
  }

  .ed-logo {
    margin-bottom: 28px;

    @media #{$xs} {
      margin-bottom: 18px;
    }
  }

  .ed-horizontal-label-social {
    margin-top: 53px;

    @media #{$xs, $md} {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

.ed-about-space-2 {
  padding-top: 120px;

  @media #{$xs} {
    padding-top: 65px;
  }
}