.ed-accordion {
  .accordion {
    .accordion-item {
      border: 1px solid rgba(5, 12, 31, 0.14);
      margin-bottom: 16px;
      border-radius: 0;

      .accordion-body {
        color: var(--ed-color-body);

        @media #{$md} {
          padding: 15px;
        }

        @media #{$xs} {
          padding: 15px;
        }
      }

      .accordion-button {
        font-size: 20px;
        font-weight: 500;
        padding: 20px 25px;

        @media #{$md} {
            font-size: 17px;
            padding: 10px 15px;
        }

        @media #{$xs} {
          font-size: 18px;
          padding: 15px;
        }

        &::after {
          background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%2030%2030%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2215%22%20fill%3D%22%23050C1F%22%20fill-opacity%3D%220.06%22%2F%3E%3Cpath%20d%3D%22M11%2013L15%2017L19%2013%22%20stroke%3D%22%23050C1F%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
          width: 30px;
          height: 30px;
          background-size: cover;
        }

        &:not(.collapsed) {
          background: transparent;
          outline: none;
          &:focus {
              box-shadow: none;
          }
        }
      }
    }
  }
}
