.ed-banner-area {
    min-height: 770px;
    position: relative;
    background-image: url("../images/banner/banner.png");
    background-size: cover;
    background-repeat: no-repeat;

    @media #{$xs} {
        margin-top: 0;
        padding: 30px;
        padding-bottom: 0;
    }

    & .ed-banner-image {
        position: absolute;
        left: calc(50% + 103px);
        bottom: 0;
        transform: translateX(-50%);

        @media #{$md, $lg} {
            left: 50%;
        }

        @media #{$xs} {
            position: static;
            transform: translateX(0);
            text-align: center;
        }
        & img {
            max-width: 530px;
            @media #{$xs} {
                width: 100%;
            }
        }
    }
}

.ed-banner-inner-content {
    position: relative;
    z-index: 1;

    @media #{$xl} {
        padding: 0 15px;
    }

    @media #{$xs, $md} {
        padding: 0;
    }
}

.ed-banner-title {
    display: flex;
    justify-content: space-between;
    font-weight: 800;

    @media (min-width: 1600px) and (max-width: 1799px) {
        font-size: 110px;
    }

    @media #{$xxl} {
        font-size: 90px;
    }

    @media #{$xl} {
        font-size: 80px;
    }
    
    @media #{$lg} {
        font-size: 60px;
    }

    @media #{$md} {
       font-size: 52px;
    }
    
    @media #{$xs} {
        font-size: 21px;
        margin-bottom: 20px;
    }

}

.ed-meta-horizontal {
    li {
        list-style: none;
        font-size: 14px;
        font-weight: 500;
        color: #696D79;
        & i {
            font-size: 13px;
            color: var(--ed-color-primary);
            margin-right: 2px;
        }
    }
}

.ed-course-card-content-action-bottom {
    display: flex;
    justify-content: space-between;
    grid-gap: 10px;
    flex-wrap: wrap;
}

.ed-banner-course-carousel-active {
    max-width: 610px;
    margin: 0;

    @media #{$xs} {
        max-width: 100%;
    }
}

.ed-banner-carousel-active-wrapper {
    display: flex;
    grid-gap: 20px;
    align-items: center;
    justify-content: flex-end;

    @media #{$md, $lg} {
        justify-content: flex-start;
    }

    @media #{$xs} {
        flex-direction: column;
        grid-gap: 30px;
    }
}

.ed-category-banner {
    background: #E0F5F4;
    position: relative;
    padding: 24px 40px;
    padding-left: 180px;

    @media #{$xs} {
        padding-left: 20px;
        padding-right: 20px;
    }

    .ed-wide-btn {
        position: relative;
        &::before {
            position: absolute;
            right: 100%;
            top: -12px;
            content: "";
            width: 153px;
            height: 35px;
            background-image: url("../images/icons/plane.png");

            @media #{$xs} {
                display: none;
            }
        }
    }

    .ed-subtitle {
        font-size: 14px;
        font-weight: 500;
        color: var(--ed-color-primary);
        margin-bottom: 6px;
        display: block;
    }

    .ed-title {
        font-size: 22px;
        font-weight: 600;
        margin: 0;
    }

    .ed-category-banner-left-img {
        position: absolute;
        bottom: 0;
        left: 0;

        @media #{$xs} {
            display: none;
        }
    }

    .ed-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        grid-gap: 20px;
    }
}

.ed-course-banner-2-box {
    background-image: url(../images/banner/banner-background.jpg);
    padding: 0 50px;
    padding-right: 0;
    padding-top: 50px;
    background-repeat: no-repeat;

    @media #{$xs, $md, $lg, $xl} {
        background-size: cover;
        padding: 30px;
    }

    @media #{$xs} {
        padding: 15px;
    }

    img {
        @media #{$xl} {
            max-height: 181.5px;
        }
    }


    &.bg-2 {
        background-image: url(../images/banner/banner-bg-2.jpg);
    }

    .ed-course-banner-content {
        @media #{$xs, $md} {
            margin-bottom: 30px;
        }
    }

    .ed-course-banner-image {
        @media #{$xs, $md, $md, $lg} {
            padding-right: 0;
        }

        @media #{$lg} {
            margin-top: 30px;
        }

        & img {
            @media #{$xs} {
                max-width: 100%;
            }
        }
    }
}

.ed-course-banner-2-box {
    .ed-title {
        font-weight: 600;
        margin-bottom: 22px;

        @media #{$xs} {
            font-size: 18px;
        }
        span {
            font-weight: 400;
            color: var(--ed-color-primary);
            display: block;
        }
    }
}

.ed-banner-inner-content .ed-inner {
    @media #{$xs, $xl} {
        padding-left: 0;
    }
}

.ed-course-banner-2-section-space {
    padding-top: 120px;

    @media #{$xs, $md} {
        padding-top: 80px;
    }
}

.ed-banner-content-2 {
    .ed-banner-title-2 {
        font-size: 90px;
        font-weight: 600;
        color: var(--ed-color-white);
        margin-bottom: 20px;

        @media #{$xs} {
            font-size: 35px;
        }

        @media #{$md} {
            font-size: 50px;
        }

        @media #{$lg} {
            font-size: 60px;
        }

        @media #{$xxl} {
            font-size: 70px;
        }

        span {
            color: var(--ed-color-sweet);
            display: inline-block;
        }
    }

    p {
        margin: 0;
        color: rgba(255, 255, 255, .7);
        margin-bottom: 55px;

        br {
            @media #{$xs} {
                display: none;
            }
        }
    }
}

.banner-area .ed-banner-image-box-right {
    @media #{$xs, $md} {
        margin-top: 36px;
    }
}

.ed-banner-content-bottom-2 {
    display: flex;
    grid-gap: 20px 34px;

    @media #{$xs} {
        flex-wrap: wrap;
    }
}

.ed-banner-image-box-right {
  display: inline-block;
  position: relative;

  @media #{$lg, $xl} {
    margin-top: 40px;
  }

  img {
        filter: drop-shadow(0px 10px 60px rgba(5, 12, 31, 0.44));
  }

  .has-blured-scaleup-animation {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .ed-play-button {
        position: relative;
        z-index: 1;
    }
  }
}

.ed-section-banner-space-2 {
    padding-top: 83px;
    padding-bottom: 155px;

    @media #{$xs} {
        padding-top: 60px;
        padding-bottom: 80px;
    }
}

.ed-head-banner-bg-wrapper {
    background-image: url("../images/background/banner-shape.png");
    background-size: cover;
}

.ed-banner-layout-6 {
  background: var(--ed-color-blue);
  padding-left: 80px;
  padding-right: 60px;
  padding-top: 17px;
  border-radius: 10px;

  @media #{$xs} {
    padding: 20px;
  }

  @media #{$sm, $md} {
    padding: 40px;
  }

  @media #{$lg} {
    padding: 30px;
  }

  .ed-content {
    @media #{$md} {
        margin-bottom: 30px;
    }
  }

  .ed-title {
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    color: var(--ed-color-white);

    @media #{$xs} {
        font-size: 24px;
        margin-bottom: 20px;
    }

    @media #{$lg} {
        font-size: 35px;
    }
  }

  img {
    transform: translateY(5px);

    @media #{$xs, $md} {
        transform: unset;
        margin-top: 30px;
    }
  }
}

.ed-banner-layout-6-bg {
    background-image: url("../images/background/banner-shape-6.png");
    background-size: cover;
}

.ed-banner-section-2-space {
    padding-top: 120px;

    @media #{$xs} {
        padding-top: 50px;
    }
}