.ed-btn {
    padding: 15px 28px;
    display: inline-block;
    background: var(--ed-color-secondary);
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: var(--ed-color-black);
    &:hover {
        background-color: var(--ed-color-primary);
        color: var(--ed-color-white);
    }
}

.ed-transparent-btn {
    text-decoration: none;
    color: var(--color-black);
    font-size: 15px;
    font-weight: 600;
    &:hover {
        color: var(--ed-color-primary);
    }
}

.ed-transparent-wishlist-btn {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: var(--ed-color-body);

    &:hover {
        color: var(--ed-color-primary);
    }
    & i {
      font-weight: 500;
    }
}


.ed-wide-btn {
  text-decoration: none;
  background: var(--ed-color-primary);
  color: var(--ed-color-white);
  padding: 11px 30px;
  display: inline-block;

  @media #{$xl} {
    padding: 11px 20px;
  }
  
  @media #{$md} {
    padding: 11px 15px;
  }

  @media #{$xs} {
    padding: 9px 20px;
    font-size: 14px;
  }

  &.ed-sweet {
    background-color: var(--ed-color-sweet) !important;
    color: var(--ed-color-black) !important;
    &:hover {
      background-color: var(--ed-color-secondary);
    }
  }

  &.ed-btn-purple {
    background-color: var(--ed-color-purple);
  }

  &.hover-black-bg:hover {
      background-color: var(--ed-color-black);
      color: var(--ed-color-white);
  }
  &.ed-btn-icon-transparent {
    i {
        background-color: color-mix(in srgb, var(--ed-color-white) 10%, transparent);
        color: var(--ed-color-white);
        transition: all .3s;
    }
    &:hover {
        & i {
            background-color: var(--ed-color-white);
            color: var(--ed-color-black);
        }
    }
  }

  i {
    width: 22px;
    height: 22px;
    background: var(--ed-color-white);
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    color: var(--ed-color-black);
    font-size: 14px;
    font-weight: 700;
    margin-left: 8px;

    @media #{$xs} {
        width: 18px;
        height: 18px;
        line-height: 18px;
        font-size: 11px;
    }
  }

  &:hover {
    background: var(--ed-color-secondary);
    color: var(--ed-color-black);
  }
}

.ed-md-wide-btn {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  background: var(--ed-color-sweet);
  display: inline-block;
  padding: 10.5px 40px;
  color: var(--ed-color-black);

  &:hover {
    background-color: var(--ed-color-secondary);
  }
}

.ed-sweet-button {
  display: inline-block;
  text-decoration: none;
  background: var(--ed-color-sweet);
  color: var(--ed-color-black);
  padding: 13px 30px;
  box-shadow: 0px 4px 4px #0A1D62;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 700;

  i {
    font-weight: 600;
  }

  &:hover {
    background: var(--ed-color-secondary);
  }
}

.ed-play-button {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: var(--ed-color-white);
  border-radius: 50%;
  font-size: 17px;
  color: var(--ed-color-black);

  &:hover {
    background: var(--ed-color-sweet);
  }
}

.ed-course-action-icon-btn {
  background: rgba(5, 12, 31, 0.6);
  backdrop-filter: blur(5px); // Minimal browser support
  border-radius: 4px;
  color: var(--ed-color-white);
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  line-height: 32px;

  &:hover,
  &.active {
    background: var(--ed-color-sweet);
    color: var(--ed-color-black);
  }
}

.ed-ultra-wide-btn {
  text-decoration: none;
  font-weight: 600;
  color: var(--ed-color-black);
  display: inline-block;
  background-color: var(--ed-color-sweet);
  padding: 10px 57px;
  border-radius: 4px;

  @media #{$sm} {
    padding: 10px 37px;
  }

  &:hover {
    background: var(--ed-color-secondary);
  }
}

.ed-button-action-styled-icon {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  border: 1px solid rgba(5, 12, 31, 0.14);
  border-radius: 10px;
  background-color: var(--ed-color-white);

  i {
    font-size: 20px;
    font-weight: 500;
    color: var(--ed-color-black);
    transition: all 0.3s;
  }
}

.ed-header-bars {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  color: var(--ed-color-white);
  font-size: 17px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: 600;
  border-radius: 4px;

  &:hover {
    background-color: var(--ed-color-sweet);
    color: var(--ed-color-black);
  }
}