.ed-price {
    font-size: 16px;
    font-weight: 600;
    color: var(--ed-color-primary);
    margin: 0;
    &.price-danger {
        color: var(--ed-color-danger);
    }
}

.ed-price-v2 {
  span {
    color: var(--ed-color-primary);
    font-weight: 600;
  }

  del {
    font-size: 14px;
    color: var(--ed-color-body);
    font-weight: 500;
  }
}
