.ed-subscribe-area-2-wrapper {
    border-radius: 10px;
    padding: 40px 50px;

    .ed-title {
        font-size: 30px;
        font-weight: 500;
        color: var(--ed-color-white);
        margin-bottom: 0;
    }
}

.ed-rounded-form .ed-subscribe-form-input-area {
    border-radius: 10px;
}

.ed-subscribe-space-top-2 {
    margin-top: -75px;
}