.ed-testimonial-box {
    padding: 45px 35px;

    @media #{$xs} {
        padding: 30px;
    }
    &.ed-bg-1 {
        background-image: url(../images/background/testimonial-bg-1.jpg);
    }
    &.ed-bg-2 {
        background-image: url(../images/background/testimonial-bg-2.jpg);
    }
    &.ed-bg-3 {
        background-image: url(../images/background/testimonial-bg-3.jpg);
    }

    .ed-body {
        p {
            font-size: 16px;
        }
    }

    .ed-head {
        @media #{$xs} {
            margin-bottom: 15px;
        }
    }
}

.ed-testimonial-area {
    .ed-testimonial-banner {
        @media #{$xs} {
            margin-top: 20px;
        }
    }
}

.ed-google-rating-box {
  display: flex;
  grid-gap: 12px;
  align-items: center;
  width: fit-content;

  .ed-rarting {
    margin-bottom: 3px;
  }

  b {
    font-size: 15px;
    font-weight: 500;
  }
}

.ed-testimonial-banner {
  background: #E0F5FA;
  padding: 27px 54px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;

  @media #{$xs, $md, $lg} {
    padding: 25px 20px;
  }
}

.ed-testimonial-section-space {
    padding-top: 110px;

    @media #{$xs, $md} {
        padding-top: 80px;
    }
}

.ed-testimonial-card-2 {
    display: flex;
    flex-wrap: wrap;
    background: #ECEEF5;
    align-items: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    .ed-flipped-text {
        position: absolute;
        bottom: 46px;
        right: 110px;
    }

  .ed-image {
    max-width: 440px;
  }

  .ed-content {
    max-width: calc(100% - 440px);
    padding-left: 90px;
    padding-right: 70px;
  }
}

.ed-testimonial-area-2 {
  .ed-rating-stars {
    margin-bottom: 25px;
  }

  p {
    font-size: 20px;
    margin-bottom: 52px;
  }
}

.ed-flipped-text {
  font-weight: 800;
  font-size: 100px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1.5px #D3D8E6;
  text-stroke: 1.5px #D3D8E6;
  display: inline-block;
  line-height: 1;
  letter-spacing: 5px;
  margin-bottom: 0;
}

.ed-testimonial-bg-4 {
    .ed-testimonial-card-2 {
        background-image: url('../images/background/testimonial-bg-4.png');
        background-size: cover;
        background-position: top right;
    }
}