.ed-testimonial-2-section-space {
    padding-top: 110px;

    @media #{$xs} {
        padding-top: 65px;
    }
}

.ed-testimonial-2-head {
    margin-bottom: 55px;

    @media #{$xs} {
        margin-bottom: 40px;
    }
}